/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.body {
    display: flex;
    justify-content: center;
    margin-left: 55px;
    margin-right: 55px;
    margin: 0;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
/* Modifier, je pense qu'il faut parler en % et non en pixel pour que ca soit utilisable sur tel/pc/tablette mais je ne sais pas comment connaitre le % */
.hebergements {
    display: flex;
    width: 68%;
    height: 626px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

/* typographie crée par moi */

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p{
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 0px;
} 
.h1 {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
.h2 {
    color: #000;
text-align: center;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@media only screen and (max-width: 600px) {
    .disparaitM {
        display: none;   
    }
  }

@media only screen and (min-width: 600px) {
    .disparaitD {
        display: none ;   
    }
  }
  
/*Barre recherche*/
.margerecherche{
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

input::placeholder {
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
}

.disparaitD{
    background-color: var(--main-color);
    color: white;
    border-radius:0px 15px 15px 0px;
    border-color:transparent;
}
.disparaitM{
    background-color: var(--main-color);
    color: white;
    border-radius:0px 15px 15px 0px; 
    border-color:transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.barreR{
    display: flex;
    flex-direction: row;
    height: 49px;
    
}

.boutonG{
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    border-color:transparent;
    background-color: #F2F2F2;
}
input{ 
    border-bottom-color: #F2F2F2;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: 2px solid #F2F2F2;
    width: 250px;
}
/*Entête*/

.larglien{
    width: 164px;
    height: 100px; 
}

.bordure{
    border-top: 1px solid transparent;
    display: flex;
    padding-top: 0px; 
    display: flex;
 

}

.bordure:hover{
    border-top: 1px solid #0065FC;  
    color: #0065FC;
    width: 164px;
    text-align: center;
}



/*Filtre*/

.filtre{
    display: flex;
    align-items: center;
}
.margefiltre{
    margin-top: 50px;
    margin-bottom: 40px;
}
.margefiltretitre{
    margin-right: 20px;
}
.filtreicone{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    transition: background-color 1s ease, transform 1s ease;
}
.filtreicone:hover{
    background-color:#DEEBFF ;
    animation: filtreHover 1s;
}
.espacefiltre{
    margin-left: 10px;
    margin-right: 10px;
}
.textefiltre{
    margin-right: 10px;
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

  
  @keyframes filtreHover {
    0% {
      transform: scale(1);
      background-color: white;
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.1);
      background-color: #DEEBFF; /* Couleur finale au survol */
    }
  }
  
  .filtreicone:not(:hover) {
    animation: filtreUnhover 1s;
  }
  
  @keyframes filtreUnhover {
    0% {
      transform: scale(1.1);
      background-color: #DEEBFF; /* Couleur initiale au survol */
    }
    40% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
      background-color: white; /* Couleur finale lorsque le curseur quitte */
    }
  }
  


